<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
    <button mat-icon-button disabled></button>
    <mat-icon class="type-icon" [attr.aria-label]="node.type + 'icon'">
      {{ node.type === 'file' ? 'description' : 'check_circle_outline' }}
    </mat-icon>
    {{node.name}}
  </mat-tree-node>

  <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    <img *ngIf="node.name === 'Top'" style="max-width: 30px; max-height: 30px;" src="assets/images/top_icon.png">
    <img *ngIf="node.name === 'Mid'" style="max-width: 30px; max-height: 30px;" src="assets/images/mid_icon.png">
    <img *ngIf="node.name === 'Jungler'" style="max-width: 30px; max-height: 30px;" src="assets/images/jungle_icon.png">
    <img *ngIf="node.name === 'Sup'" style="max-width: 30px; max-height: 30px;" src="assets/images/sup_icon.png">
    <img *ngIf="node.name === 'Adc'" style="max-width: 30px; max-height: 30px;" src="assets/images/adc_icon.png">
    {{node.name}}
  </mat-tree-node>
</mat-tree>
